@using SADVO.Core.Application.ViewModels.PartidoPoliticoViewModel;
@model List<PartidoPoliticoViewModel>;
@{
    ViewData["Title"] = "Partido Politico";
}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h1 class="display-4"> Registros de Partidos Politicos</h1>
        </div>
    </div>
</div>

<div class="row">
    <a class="btn btn-outline-success" asp-controller="PartidoPolitico" asp-action="Create"><i class="bi bi-file-earmark-plus"></i> Nuevo Partido +</a>
</div>

<div class="row mt-2">
    @if (Model.Count == 0)
    {
        <div class="text-center">
            <h4 class="display-4">No hay partido politico</h4>
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="col-12 col-md-3 mb-3 mt-5">
                <div class="card border-dark h-100 d-flex flex-column" style="width: 100%; height: 100%;">
                    <img class="card-img-top" src="@item.LogoPath" alt="Logo del partido" style="height: 200px; object-fit: cover;">

                    <div class="card-body">
                        <h5 class="card-title text-truncate">@item.Siglas</h5>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-truncate">Nombre: @item.Nombre</li>
                        <li class="list-group-item text-truncate">Descripción: @item.Descripcion</li>
                        <li class="list-group-item">
                            Activo:
                            <span class="badge @(item.EstaActivo ? "bg-primary" : "bg-danger") text-white px-3 py-2 rounded-pill" style="opacity: 0.85;">
                                @(item.EstaActivo ? "Sí" : "No")
                            </span>
                        </li>
                    </ul>

                    <div class="card-body mt-auto">
                        <div class="d-flex justify-content-between gap-2">
                            <a class="btn btn-outline-success btn-sm w-100" asp-controller="PartidoPolitico" asp-action="Activar" asp-route-id="@item.Id">
                                <i class="bi bi-check-circle"></i> Activar
                            </a>
                            <a class="btn btn-outline-warning btn-sm w-100" asp-controller="PartidoPolitico" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                            <a class="btn btn-outline-danger btn-sm w-100" asp-controller="PartidoPolitico" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="bi bi-trash"></i> Eliminar
                            </a>
                        </div>
                    </div>

                </div>
            </div>



          
        }
    }
